{% extends "base.html" %}
{% block title %} Пользователь @{{user_p.username}}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{user_p.first_name}} {{user_p.last_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{user_p.username}}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{user_p.following.count}} <br />
                                            Подписан: {{user_p.follower.count}}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{page.paginator.count}}
                                            </div>
                                    </li>
                                    {% if not user_p.username == user.username %}
                                    <li class="list-group-item">
                                        {% if following %}
                                        <a href="{% url 'profile_unfollow' user_p.username %}"
                                           role="button" class="btn btn-lg btn-light">Отписаться</a>
                                        {% else %}
                                        <a href="{% url 'profile_follow' user_p.username %}"
                                           role="button" class="btn btn-lg btn-primary">Подписаться</a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">

                {%for post in page%}
                    {% include "post_item.html" %}
                {% endfor %}

                {% include "paginator.html"%}
     </div>
    </div>
</main>

{%endblock%}